{
	"confver": 3, # Version of configuration file. See: versions.json on https://github.com/bilintsui/ddnscd
	"log":"/var/log/ddnscd.log",	# Filename which logs saved to.
	"loglevel":1,	# Optional, default 1. 0: Errors only; 1: Errors and Updates; 2: All messages.
	"tick":600,	# Optional, required when runmode=simple/forking. Unit: second. Time of intervals between each run.
	"lookup4":"https://api4.xmrx1999.com/ip.php",	# URL of IPv4 Lookup service.
	"lookup6":"https://api6.xmrx1999.com/ip.php",	# URL of IPv6 Lookup service.
	"deploys":	# Deploy Information Section.
	[
		{
			"root":"example.com",	# Your root domain name.
			"username":"user@example.com",	# Your username.
			"password":"examplepassword",	# Your password.
			"deploy":	# List of domain names which you want to deploy to.
			[
				"1.ddns",	# Refer to 1.ddns.example.com.
				"2.ddns"
			]
		},
		{
			"root":"example2.com",
			"username":"user@example2.com",
			"password":"examplepassword2",
			"deploy":
			[
				"1.ddns",
				"2.ddns"
			]
		}
	]
}