[Unit]
Description=Dynamic DNS Client Daemon
After=network.target network-online.target

[Service]
Type=forking
PIDFile=/run/ddnscd.pid
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/ddnscd -f
WorkingDirectory=/

[Install]
WantedBy=multi-user.target