[Unit]
Description=Dynamic DNS Client Daemon
After=network.target network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/ddnscd /etc/ddnscd/config.json
WorkingDirectory=/

[Install]
WantedBy=multi-user.target