[Unit]
Description=Dynamic DNS Client Daemon
After=network.target network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/ddnscd -o
WorkingDirectory=/

[Install]
WantedBy=multi-user.target